Body {
    display: flex;
    flex-direction: column; /* Stack children vertically */
    align-items: center; /* Center children horizontally */
    justify-content: space-between; /* Center children vertically */
    height: 100vh; /* Full viewport height */
    margin: 0;
    background-color: #04ACFA;
}

header {
    width: 100%;
    height: 55px;
    margin-bottom: 20px; /* Spacing between nav and chat-container */
}


nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 800;
    margin: 10px;
    list-style: none;
}

button {
    padding: 17px 40px;
    border-radius: 50px;
    border: 0;
    background-color: white;
    box-shadow: rgb(0 0 0 / 5%) 0 0 8px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    font-size: 15px;
    transition: all .5s ease;
}
   
button:hover {
    letter-spacing: 3px;
    background-color: black;
    color: hsl(0, 0%, 100%);
    box-shadow: black;
}
   
button:active {
    letter-spacing: 3px;
    background-color: black;
    color: hsl(0, 0%, 100%);
    box-shadow: #04ACFA;
    transform: translateY(10px);
    transition: 100ms;
}

a {
    text-decoration: none;
    color: black;
    
}
a:hover {
    color: white;
}

.chat-container {
    width: 80%;
    max-width: 600px;
    background-color: #E9E9EA;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 20px; /* Spacing from the top */
}
h1{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 60px;
    -webkit-text-stroke: 2px white; /* width and color of the stroke */
    color: #000000; /* same as background for better visibility */
}

.fa-solid {
    text-shadow: 
        -2px -2px 0 #FFF,  
        2px -2px 0 #FFF,
        -2px 2px 0 #FFF,
        1px 1px 0 #FFF;
}



.title_container {
    display: flex;
    flex-direction: row;
}
.chat-box {
    max-height: 400px;
    overflow-y: auto;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    margin-bottom: 20px;
}

.input-container {
    display: flex;
    justify-content: space-between;
}

.message-input {
    width: 80%;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #ccc;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.send-button {
    width: 15%;
    padding: 10px;
    border: none;
    border-radius: 8px;
    background-color: #04ACFA;
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    cursor: pointer;
    transition: background-color 0.3s;
}

.send-button:hover {
    background-color: #0289c7;
}
